* {
  // box-sizing: border-box;
  // border: 1px solid red;
}

div [class*="floated left"] { float: left; }

div [class*="floated right"] { float: right; }

p {
  margin: 1em 0 1em;
}

a, a:link, a:visited, a:active, a:hover { 
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  text-decoration: underline; 
}

body {
  // background-color: black;
}

header {
  // background-color: white;
  padding: 2em 0 0;
}

main {
  padding: 2em 0;
}


footer {
  padding: 2em 0 4em;
  box-shadow: 0 500px 0 500px #1f1f1f;
}

#menu-top {
  margin: 1em 0;
  min-height: 3em;
  .grid .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu {
    background: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 0.5em;
}

// LANDING

main.landing {
  padding: 0;
}


.landing {
  &.image {
    background-color: black;
    background-image: url("carpool-hero.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 0;
  }
  &.text.container {
    margin: 6em 0;
    color: white;
    text-align: center;
  }

  .grid.column {
    padding: 1em 0;
    p { 
      width: 75%;
    }
  }

  .statistic {
    margin: 0 auto;
    display: block;
    .value, .label {
      color: white;
    }
  }

  p {
    margin: 1em auto;
    text-align: center;
  }

  .action {
    padding: 1em 0 2em;
    .button {
      width: 50%;
      margin: 0 auto;
      display: block;
    }
  }
}

// BROWSE 

.browse {
  margin: 2em 0;
  .item  {
    .meta, .header {
      text-decoration: none;
    }

    .details {
      padding: 0.5em 0;
      display: none;
    }
    .match.label {
      position: relative;
      margin-left: 1em;
      top: -0.25em;
    }
    // semantic ui workaround
    .image .avatar { 
      border-radius: 50%;
    }
  }
}

// PROFILE

.profile {
  .role {
    position: relative;
    .button {
      width: 100%
    }
  } 
  .schedule {
    .day.fields .has .button {
      width: 100%;
    }
  }
}

.static {
  display: none !important;
}

// .dynamic {
//   display: none;
// }

.backed {
  &.lightgray { background: whitesmoke; }
  &.darkgray { background: #4f4f4f; }
  &.darkergray { background: #1f1f1f; }

  &.darkgray, &.darkergray {
    color: white; 
    a:link, a:visited {
      color: white !important;
    }
    a:active, a:hover {
      color: #dfa00a !important;
    }
  }
}