<template name="User_Footer">
<footer class="backed darkergray">
  <nav class="ui two column stackable grid container">
    <div class="column">
      <h4>Pool to School Organization</h4>
      <div class="ui list">
        <a href="#"  class="item">contact us</a>
        <a href="#"  class="item">about us</a>
        <a href="#"  class="item">need help?</a>
      </div>
    </div>
    <div class="column">
      <h4>University of Hawaii at Manoa</h4>
      <div class="ui list">
        <a href="#"  class="item">about organization</a>
        <a href="#"  class="item">contact school</a>
        <a href="#"  class="item">go to school</a>
      </div>
    </div>
  </nav>
</footer>
</template>