<template name="User_Header">

<header>
<div class="ui container" id="logo">
	<h1>Pool to School</h1>
</div>
  <div class="backed darkergray" id="menu-top">
		<nav class="ui stackable grid container">
			<div class="thirteen wide column">
				<div class="ui borderless inverted menu">
					<!-- <a href="#" class="item">Home</a> -->
					<a class="{{isActiveRoute 'Profile_Page'}} item" href="{{pathFor 'Profile_Page' username=routeUserName}}">Edit Profile</a>
					<a class="{{isActiveRoute 'Matches_Page'}} item" href="{{pathFor 'Matches_Page' username=routeUserName}}">Browse Matches</a>
					<a class="{{isActiveRoute 'Schedule_Page'}} item" href="{{pathFor 'Schedule_Page' username=routeUserName}}">My Carpool Schedule</a>
				</div>
			</div>
			<div class="three wide column">
				<div class="ui borderless inverted menu">
					 {{> Cas_Login}}
				</div>
			</div>
		</nav>
	</div>
</header>
</template>